<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style media="screen">
    .alignright {
      float: right;
    }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
          <div class="page-header">
            <div class="container">
              <div class="row">
                <h2 align="center">Twitter Application</h2>
              </div>
              <div class="row form-group">
                <div class="input-group">
                  <textarea class="form-control" rows="3"></textarea>
                  <span class="input-group-addon success"><a href="#" class="btn btn-primary">Update Status</a></span>
                </div>
              </div>
            </div>
          </div>
            </ul>
              <div class="tab-content">
                <ul class="media-list">
                  <li class="media">
                    <a class="pull-left" href="#">
                      <img class="media-object img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/dancounsell/128.jpg" alt="profile">
                    </a>
                    <div class="media-body kiri">
                      <div class="well well-lg">
                        <h4 class="media-heading text-uppercase reviews">Marco </h4>
                        <ul class="media-date text-uppercase reviews list-inline">
                          <li class="dd"></li>
                          <li class="mm"></li>
                          <li class="aaaa"></li>
                        </ul>
                          <p class="media-comment">
                            Great snippet! Thanks for sharing.
                          </p>
                      </div>
                    </div>
                </ul>
              </div>
              <div class="tab-content">
                <ul class="media-list">
                  <li class="media">
                    <a class="pull-right" href="#">
                      <img class="media-object img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/dancounsell/128.jpg" alt="profile">
                    </a>
                    <div class="media-body">
                      <div class="well well-lg">
                        <h4 class="media-heading text-uppercase reviews alignright">Marco </h4>
                        <br>
                        <ul class="media-date text-uppercase reviews list-inline">
                          <br>
                        </ul>
                          <p class="media-comment alignright">
                            Great snippet! Thanks for sharing.
                          </p>
                          <br> <br>
                      </div>
                    </div>
              </div>
          </div>
      </div>
  </body>
</html>
